---
http_interactions:
- request:
    method: post
    uri: https://leadster5-dev-ed.my.salesforce.com/services/data/v54.0/sobjects/Lead
    body:
      encoding: UTF-8
      string: '{"Company":"Test","LastName":"Test"}'
    headers:
      Authorization:
      - Bearer 00D8a000003BvM7!ARwAQKpLE43ltOwOMBVknjErIjaEcP3VgH7KrB2YRoy5lNjS.HnbQEhpZqFzECLX8Uvn2z3VfOTt2I_LlYlJwnM_6fJxqD7K
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=76/15000
      Location:
      - "/services/data/v54.0/sobjects/Lead/00Q8a00001xTxexEAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"00Q8a00001xTxexEAC","success":true,"errors":[]}'
  recorded_at: Sun, 23 Feb 2025 17:23:31 GMT
recorded_with: VCR 6.3.1
