---
http_interactions:
- request:
    method: post
    uri: https://login.salesforce.com/services/oauth2/token?client_id=3MVG9FMtW0XJDLd1psJwzxdJ1VGw1KYONP1dTzNOlzRDoWgs_t6SD3pBh64.Ssq.EVXAKEae5Xoa3KUU9QUWQ&client_secret=4289401D2FB65104F439D333E0542C8E8DD004A63F3B1AAE28FCA339A99F93FC&grant_type=password&password=tytvuv-fyQhiz-8watha4KbrRJ8o7MS8AoXePebcr73F6&username=gildemberg_santos@hotmail.com
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00D8a000003BvM7!ARwAQFv4x9FySKf1rupwdv29J6YeNkVKxILADXHygYI30ZWiptapx73zyORBOjwIfjM44Mai9aaxCu1Nrt_qKiMoDDojztY9","instance_url":"https://leadster5-dev-ed.my.salesforce.com","id":"https://login.salesforce.com/id/00D8a000003BvM7EAK/0058a00000LryhyAAB","token_type":"Bearer","issued_at":"1746199077570","signature":"5SoylKivweUJF3tKx5l11WNwrujin00XKMbeGftt8Bs="}'
  recorded_at: Fri, 02 May 2025 15:17:57 GMT
recorded_with: VCR 6.3.1
